<p>Welcome to the ultimate PMS system!</p>
<div id="wrapper">
    <div class="panel panel1">
      <div class="panel-header">
        Operations
      </div>
      <div class="panel-content">
        <a (click)="gotoRoomTypes()">Room Types</a><br/>
        <a (click)="gotoRoomList()">Room List</a>
      </div>
    </div>
    <div class="panel panel2">
      <div class="panel-header">
        Users
      </div>
      <div class="panel-content">
        <a (click)="gotoUserList()">User List</a>
      </div>
    </div>
    <div class="panel panel3">
      <div class="panel-header">
        Inventory
      </div>
      <div class="panel-content">
        <a (click)="gotoAmenitiesList()">Room Amenities</a>
      </div>
    </div>
  </div>