<div class="main-content">





    <div class="container">
      <div class="row">
        <h1><span class="title-label">Room Types List</span></h1>
            <nav class="navbar navbar-default query" role="query">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-barnd" href="javascript:void(0);"></a>
                        
                    </div>
                    <div class="collapse navbar-collapse" id="">
                        <div class="navbar-form navbar-left">
                            <input type="text" class="form-control" />
                            <button class="btn btn-default">Search</button>
                        </div>
                        <button type="button" class="btn btn-sky text-uppercase create pull-right"><a routerLink="/admin-dashboard">Cancel</a></button>
                        <button type="button" class="btn btn-fresh text-uppercase create pull-right"><a href="http://www.positiwitty.com/">Save/Sort Types</a></button>

                        <button type="button" class="btn btn-sunny text-uppercase create pull-right"><a href="http://www.positiwitty.com/">Delete Rooms Types</a></button>

                        <button type="button" class="btn btn-hot text-uppercase create pull-right"><a (click)="gotoAddRoom()">Add Room Type</a></button>


                    </div>
                    
                </div>
            </nav>
            <div class="table-responsive col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Image</th><th>Room Type</th><th>Occupancy</th>
                            <th>Rooms</th><th>Ex Bed(s) Allowed</th><th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let room of roomTypes">
                            <td><p>{{ room?.image }}</p></td>
                            <td><p>{{room?.room_name}}<br/>
                                </p></td>
                            <td><p>Base - <span class="label label-success">{{room?.occup_base}}</span><br/>
                                    Max - <span class="label label-success">{{room?.occup_max}}</span></p></td>
                            <td><p>{{ room?.no_of_rooms }}</p></td>
                            <td><p>{{ room?.occup_ex_beds }}</p></td>
                            <td class="col-md-2"><p>
                               
                            </p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-right">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
      </div>
    </div>






</div>
