<mat-card-header>
    <div class="col-md-2"> 
      <mat-form-field class="example-full-width">
        <input matInput >
      </mat-form-field>
    </div>
    <div class="col-md-2">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Rs">
          </mat-form-field>
    </div>
    <div class="col-md-2">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Rs">
          </mat-form-field>
    </div>
    <div class="col-md-2">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Rs">
          </mat-form-field>
    </div>
    <div class="col-md-2">
        <mat-form-field class="example-full-width">
            <input matInput >
          </mat-form-field>
    </div>
    <div class="col-md-2">
        
            
                <mat-form-field>
              <input matInput placeholder="Base">
              </mat-form-field>
          
  
                <mat-form-field>
              <input matInput placeholder="Max">
              </mat-form-field>
        
                <mat-form-field>
              <input matInput placeholder="ex Bed(s)">
              </mat-form-field>
 
        
    </div>
</mat-card-header>
